In [2]:
import pandas as pd
from os import path, getcwd

arquivo = path.join(getcwd(), "6.1-Arquivos", "dados.txt")
df = pd.read_csv(arquivo, sep="#", header=None)
df.columns = ["nome", "nota1", "nota2", "nota3"]
df.head()

     nome  nota1  nota2  nota3
0   Andre   10.0    9.0    8.5
1   Maria    9.0    6.8    8.5
2   Pedro    7.0    4.0    3.8
3  Fatima    9.0    6.8    8.5
4   Saulo    7.7    4.9    7.8

In [9]:
df[df["nota1"] == 10]

    nome  nota1  nota2  nota3
0  Andre   10.0    9.0    8.5